/*
Theme Name: Sport Town Theme
Theme URI: http://websterlab.ru
Description: Sport Town Theme Bootstrap v4.
Version: 1.0
Author: Ishkov Vladislav
Author URI: http://websterlab.ru
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-Thin.ttf;');
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-ExtraLight.ttf;');
  font-weight: 200;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-Light.ttf;');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-Regular.ttf;');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-SemiBold.ttf;');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-Bold.ttf;');
  font-weight: bold;
  font-style: normal;
}
/* End */


/* Стили для главного меню */
.navbar{
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
  padding: 36px 0px;
  margin-bottom: 50px;
}

.navbar-brand img {
  width: auto;
  height: 40px;
}

.navbar-nav .nav-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.02em;
}
.navbar-nav .nav-link:hover{
  color: #4CBED0;
  text-decoration: underline;
}
.navbar-nav .current-menu-item>a{
  color: #1F46B1;
  font-weight: 600;
}
.header-menu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header-phone{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phone{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.callback{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 122%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #18ADC2;
  border: 1px solid #18ADC2;
  border-radius: 5px;
  padding: 8px 18px;
}
.callback:hover{
  cursor: pointer;
}
/* End */

/* Homepage */
.block-h{
  height: 370px;
}
/* End */

/* Teams page */
.teams{
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.teams h1{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #1F46B1;
}
.teams-text{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.teams-stage{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #18ADC2;
}
.teams-more{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #1F46B1;
}
/* End */

/* Footer */
.social-footer{
  background-color: #1F46B1;
  margin-top: 130px;
}
.social{
  padding: 35px 0px;
  text-align: center;
}

.footer{
  background-color: #102459;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding: 60px 0px 100px 0px;
}
.footer a{
  color: #fff;
  padding: 3px 0px;
}
.footer a:hover{
  opacity: 0.5;
}
.footer h4{
  margin-bottom: 20px;
  color: #90D7E2;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}
.footer-widget ul.menu {
  list-style-type: none;
  padding: 0px;
}
.footer .site-copy{
  margin-top: 40px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
/* End */

@media(max-width: 375px) {
  .navbar-brand img {
    height: 20px;
  }
}
